<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308268236029-pm9ldk90fl31vul27gcff82oft9716nt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308268236029-pm9ldk90fl31vul27gcff82oft9716nt</string>
	<key>API_KEY</key>
	<string>AIzaSyA8k3WmVpV07NOsUb_VgFos9L0G9akpowc</string>
	<key>GCM_SENDER_ID</key>
	<string>308268236029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test2.myapp4</string>
	<key>PROJECT_ID</key>
	<string>test2-b0566</string>
	<key>STORAGE_BUCKET</key>
	<string>test2-b0566.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308268236029:ios:26de3ed359520b67801294</string>
</dict>
</plist>